h1 a {
  font-size: 144px; }
h1 div h6 {
  font-size: 1.5em; }

footer {
  border-top: 1px solid white;
  margin-bottom: .5em; }

.bold {
  font-weight: bold; }

.center {
  text-align: center; }

.black {
  color: black; }

.no-underline {
  text-decoration: none; }

.one-line {
  float: left; }

#letter {
  color: #4CAF50;
  font-size: 144px; }
